<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.photo.editor.picskills.photoeditorpro">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>

        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>

        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <application
        android:name=".utils.FilterApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/splash_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/splash_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoEditorPro">
        <activity
            android:name=".activities.CropPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.erase_tool.StickerEraseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SpiralSerpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FilterLabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShareSerpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ParentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.blur_serp_tool.BlurSerpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.black_white_tool.BlackWhiteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditingPicActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_application_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.photo.editor.picskills.photoeditorpro.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>